@page "/employees/{employeeId:int}/skill/create"

<h3>Create Employee</h3>
<hr />
<EditForm Model="@skill" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="Name" class="form-label">Department</label>
        <div class="col-md-4">
            <InputSelect @bind-Value="skillId" class="form-control">
                @if (SkillsList != null)
                {
                    @foreach (var skl in SkillsList)
                    {
                        <option value="@skl.Id">@skl.Name</option>
                    }
                }
            </InputSelect>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>
